
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Sticky Footer Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../scripts/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../scripts/css/search/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
      ul.dropdown-menu-form {
        padding: 5px 10px 0;
        max-height: 300px;
        overflow-y: scroll;
      }
    </style>
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Username <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Signout</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-2" id="side">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, obcaecati repellendus sunt tenetur consequuntur autem perferendis distinctio necessitatibus labore deleniti.
          </div>
          <div class="col-lg-10" id="main_content">
            <div class="row" id="search_tags">
              <div class="dropdown">
                <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                  Toggle dropdown
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-menu-form" role="menu">
                  <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      Checkbox 1
                  </label>
                  </li>
                  <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      Checkbox 2
                  </label>
                  </li>
                  <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      Checkbox 3
                  </label>
                  </li>
                </ul>
              </div>
              <div class="dropdown">
                <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                  Toggle dropdown
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-menu-form" role="menu">
                  <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      Checkbox 1
                  </label>
                  </li>
                  <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      Checkbox 2
                  </label>
                  </li>
                  <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      Checkbox 3
                  </label>
                  </li>
                </ul>
              </div>
            </div>
            <br>
            <div class="row" id="searched_terms">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, non, veniam officia natus nisi nulla consequuntur possimus numquam beatae suscipit accusantium sapiente impedit esse a quibusdam inventore minima. Similique, eius dolore odit expedita aut iure beatae cumque rem numquam eum necessitatibus mollitia consequuntur esse minima odio quibusdam culpa excepturi nulla?
            </div>
            <br>
            <div class="row" id="resources">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, pariatur, perspiciatis, amet, suscipit minus labore est ex ipsa expedita itaque necessitatibus sunt sapiente voluptas quos deleniti nobis explicabo similique commodi accusantium et veritatis id quidem possimus reprehenderit provident quae porro corrupti corporis doloremque rem! Accusantium, inventore unde nemo deleniti quod.
            </div>
            <br>
            <div class="row" id="mentors">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatum, deserunt, corrupti, aut illum saepe eaque non explicabo facilis ab quas nihil qui adipisci alias placeat velit reprehenderit ea molestiae sed maiores mollitia exercitationem iste magnam impedit eius est fuga nulla doloribus maxime perferendis tempora soluta repellendus enim earum dolorem.
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../scripts/assets/js/bootstrap.js"></script>
    <script>
      $(function() {
          $('.dropdown-menu').on('click', function(e) {
              if($(this).hasClass('dropdown-menu-form')) {
                  e.stopPropagation();
              }
          });
      });
    </script>
  </body>
</html>
